
div#successAlert {
    position: fixed;
    right: 20px;
    bottom: 0;
    box-shadow: 0px 0px 50px #000;
    background: #3c763d;
    color: white;
    display: none;
    border-color: #3c763d;

}

.bodyData .alert {
    margin-bottom: 5px;
}
.bodyData > .alert  i {
    float: right;
    margin-left: 10px;
    padding-top: 4px;
}

#source-view-video
{
    display: none;
}

.bodyData > .alert  i.floatLeft
{
    float: none;
}
i.photoTool {
    float: left;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
}
img.photos{
    cursor: pointer;
}

.hapusMedia
{
    cursor: pointer;
}